.modal-container {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    align-items: center;
    justify-content: center;
}

.modal-box-cover {
    position: relative;
    width: 60%;
    height: 100vh;
    background-color: #181818;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.555), -12px 0 8px -4px rgba(0, 0, 0, 0.555);
    overflow: scroll;
    animation-name: showModal;
    animation-duration: 0.4s;
}

@keyframes showModal {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}

.modal-box-cover::-webkit-scrollbar {
    display: none;
}

.modal-box-data {
    display: flex;
    flex-direction: column;
}

.modal-poster {
    width: 100%;
    background-size: cover;
    height: 70vh;
}

.modal-text-data {
    padding: 16px;
}

.modal-title {
    margin-bottom: 16px;
    font-size: 32px;
    color: white;
}

.modal-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.modal-type {
    width: 120px;
    height: 40px;
    background-color: #ee4d2a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.modal-type-text {
    font-weight: 600;
    font-size: 16px;
}

.modal-description {
    margin-bottom: 16px;
    font-size: 16px;
    color: white;
}

.modal-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 24px;
}

.modal-more-btn > p {
    margin-left: 8px;
}

.modal-close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
}

.modal-close-icon {
    width: 32px;
    height: 32px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.modal-close-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}